{% extends 'base.html' %}

{% block pageheading %}
addword
{% endblock %}
{% block title %}Bis Company | Mầm non{% endblock %}
trường mầm non
{% block heading %}Bis Company tất cả bạn cần tìm{% endblock %}



{% block main %}
    <img src="https://scontent.fhan17-1.fna.fbcdn.net/v/t39.30808-6/315986031_515822880430569_8700730287093641846_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=8bfeb9&_nc_ohc=Q86JbPA7IvwAX__WrCV&_nc_ht=scontent.fhan17-1.fna&oh=00_AfCRH-HcBgw-9cJYUtjesKpm5EHMFzNvjvKiiy9cZUNzPA&oe=63C8C3F4" alt="Mầm non Bình Minh cs1" width="230" height="345">

    <p>
    TẶNG 1 THÁNG HỌC PHÍ CHO BÉ NHẬP HỌC TẠI MẦM NON BÌNH MINH #KHƯƠNG_ĐÌNH
Bố mẹ đang muốn tìm trường cho bé:
Nơi có các cô giáo thân thiện, vui vẻ và tràn đầy yêu thương
Nơi có cơ sở vật chất tốt
Nơi có chương trình hoạt động phong phú và chuyên nghiệp
Nơi có chế độ chăm sóc và dinh dưỡng khoa học cho bé
Xin mời bố mẹ đến với #Mầm_Non_Bình_Minh để trải nghiệm miễn phí và hoàn toàn yên tâm khi gửi gắm con yêu!
Nhân dịp sau đợt nghỉ dịch dài, nhà trường tặng ƯU ĐÃI ĐẶC BIỆT cho các bé đăng ký nhập học như sau:
- Miễn phí 100% học phí tháng đầu: 2.500.000 đồng tại Mầm Non Bình Minh
- Miễn phí 100% phí cơ sở vật chất 1.500.000 đồng
- Miễn phí 100% phí nhập học 600.000 đồng
- Tặng: 1 bộ quần áo đồng phục 150.000 đồng
- Đăng ký nhóm 3 bé tặng ngay 10% học phí cho mỗi bé trong 1 năm đầu
Bố mẹ vui lòng comment hoặc inbox để lại sdt để được tư vấn ngay!
</p>
    <p>
THÔNG TIN LIÊN HỆ
Địa Chỉ: 37A ngõ 460 đường Khương Đình, P Hạ Đình, Q Thanh Xuân, Hà Nội
Hotline: 0962969295 hoặc 0382286217
    </p>




{% endblock %}